# All customizations are documented in globals.cfg. Just copy a variable from
# there into the section below, and change the value to meet your needs.

[gcode_macro _km_options]

# Available bed surfaces for offset adjustments.
variable_bed_surfaces: ['default', 'custom-1', 'custom-2']
# Set to False to hide the Octoprint LCD menus.
variable_menu_show_octoprint: False
# Set to False to hide the SD Card LCD menus.
variable_menu_show_sdcard: False
# List up to 10 pre-heat settings in order for the LCD "Temperature" menu
variable_menu_temperature: [
 {'name' : 'PLA Hyper Filament',  'extruder' : 210.0, 'bed' : 50.0},
 {'name' : 'PLA 3D Active',  'extruder' : 205.0, 'bed' : 50.0},
 {'name' : 'PLA PF',  'extruder' : 200.0, 'bed' : 60.0}]
# X position to park toolhead (set "max" or "min" to infer from stepper config).
# variable_park_x: 0.0
# Y position to park toolhead (set "max" or "min" to infer from stepper config).
# variable_park_y: 0.0
# Z position to park toolhead (set "max" or "min" to infer from stepper config).
# variable_park_z: 20.0
# Minimum printable XY coordinate. Defaults to X and Y position_min.
# variable_print_min: () # example: (0, 0)
# Maximum printable XY coordinate. Defaults to X and Y position_max.
# variable_print_max: () # example: (220, 220)
# PRINT_END Y park position (set "max" or "min" to infer from stepper config).
# variable_start_end_park_y: 0.0 # Defaults to print_max Y.
# X and Y travel speed (in mm/m) for movement macros.
# variable_travel_speed_xy: 3000
# Z travel speed in (mm/m) for movement macros.
# variable_travel_speed_z: 600
# Length of filament (in millimeters) to purge at print start.
#variable_start_purge_length: 30 # This value works for most setups.
gcode: # This line is required by Klipper.
# Any code you put here will run at klipper startup, after the initialization
# for these macros. For example, you could uncomment the following line to
# automatically adjust your bed surface offsets to account for any changes made
# to your Z endstop or probe offset.
#  ADJUST_SURFACE_OFFSETS

# This line includes all the standard macros.
[include klipper-macros/*.cfg]

# The sections below here are required for the macros to work. If your config
# already has some of these sections you should merge the duplicates into one
# (or if they are identical just remove one of them).
[idle_timeout]
gcode:
  _KM_IDLE_TIMEOUT # This line must be in your idle_timeout section.

[pause_resume]
recover_velocity: 25

[respond]

[save_variables]
filename: ~/printer_data/variables.cfg

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[display_status]