# This file contains pin mappings for the stock 2022 Creality Ender 3
# V3 SE. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART1 PA2/PA3), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# This also works for the GD32F303 based Creality 4.2.2 board.

# See docs/Config_Reference.md for a description of parameters.

[include fluidd.cfg]

[include macro.cfg]

# axises.cfg include the configuration for:
# [printer]
# [safe_z_home]
# [pause_resume]
# [stepper_*]
# [tmc2208]
# etc.
[include Ender3_V3_SE_Klipper_Config/axises.cfg]

# extruder.cfg include the configuration for:
# [extruder]
# [heater_fan]
# etc.
[include Ender3_V3_SE_Klipper_Config/extruder.cfg]

# bed.cfg include the configuration for:
# [heater_bed]
# [bed_mesh]
# [screws_tilt_adjust]
# etc.
[include Ender3_V3_SE_Klipper_Config/bed.cfg]

# bed.cfg include the configuration for [bltouch].
[include Ender3_V3_SE_Klipper_Config/prtouch.cfg]

# bltouch.cfg include the configuration for [prtouch].
[include Ender3_V3_SE_Klipper_Config/bltouch.cfg]

# misc.cfg include the configuration for:
# [virtual_sdcard]
# [output_pin beeper]
# [temperature_sensor]
# etc.
[include Ender3_V3_SE_Klipper_Config/misc.cfg]

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
#serial: /dev/ttyUSB0
restart_method: command

# This parameter must be provided.
# It will be commented out by the Klipper after callibration.
# Other bltouch parameters are configured in extruder.cfg
# See https://github.com/rootiest/zippy_guides/blob/main/guides/includes.md#what-are-the-limitations-of-includes.
[bltouch]
#z_offset: 2.65

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 30.555
#*# pid_ki = 1.670
#*# pid_kd = 139.790
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.679
#*# pid_ki = 0.695
#*# pid_kd = 1551.670
#*#
#*# [bltouch]
#*# z_offset = 2.278
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.141250, 0.082500, 0.101250, 0.096250, 0.197500
#*# 	0.051250, 0.006250, 0.007500, 0.013750, 0.096250
#*# 	0.048750, -0.012500, -0.030000, -0.068750, -0.020000
#*# 	0.085000, 0.027500, 0.010000, -0.010000, 0.030000
#*# 	0.167500, 0.083750, 0.090000, 0.081250, 0.187500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 23.0
#*# max_x = 204.0
#*# min_y = 14.5
#*# max_y = 205.5
